body{
    height: 100%;
    font-family: sans-serif;
    font-weight: bold;
    margin-left: 40%;
    margin-right: 20%;
    background-color: white; 
}


input{
    width: 400px;
    height: 30px;
    border-style: solid;
    border-color: rgb(124, 129, 134);
    border-width: 1px;
    border-radius: 4px;
}

.submit{
    border-style: solid;
    margin-top: 50px;
    border-color: white;
    color: white;
    height: 35px;
    width: 100px;
    background-color: steelblue;
    border-radius: 4px;
}


